---
layout: blank
---

<h2>前端工程师<u>张星海</u>的简历</h2>
<!-- 介绍 -->
<section>
  <h3>个人信息<em> / intro</em></h3>
  <div class="table">
    <div class="row">
      <div class="cell cell--l">
        <label>姓名:</label>
      </div>
      <div class="cell cell--t">
        <span>张星海</span>
      </div>
      <div class="cell cell--l">
        <label>出生日期:</label>
      </div>
      <div class="cell cell--t">
        <span>19890103</span>
      </div>
    </div>

    <div class="row">
      <div class="cell cell--l">
        <label>性别:</label>
      </div>
      <div class="cell cell--t">
        <span>男</span>
      </div>
      <div class="cell cell--l">
        <label>籍贯:</label>
      </div>
      <div class="cell cell--t">
        <span>湖北省黄冈市</span>
      </div>
    </div>

    <div class="row">
      <div class="cell cell--l">
        <label>邮箱:</label>
      </div>
      <div class="cell cell--t">
        <span>zhangxinghai79@gmail.com</span>
      </div>
      <div class="cell cell--l">
        <label>电话:</label>
      </div>
      <div class="cell cell--t">
        <span>18742538743</span>
      </div>
    </div>
  </div>
</section>

<section>
  <h3>综述<em> / summary</em></h3>
  <div>
    <ol>
      <li>高级前端工程师，从事软件行业 6 年以上，5 年前端经验，有一定的架构经验</li>
      <li>项目经验丰富，主导过 6 个以上大中型商业项目</li>
      <li>JS 基础知识扎实，对 Ng / React / VUE 三大框架有较深刻的理解与相当熟练的运用，能灵活运用 webpack / babel / Typescript 配置项目环境，熟悉常见的设计模式</li>
      <li>了解 Hybrid 工作原理，有一定的项目经验，对软件性能优化有一定的经验</li>
      <li>团队协作顺畅，能熟练运用基本的开发工具，有极高的工作效率</li>
    </ol>
  </div>
</section>

<section>
  <h3>技术能力<em> / skills</em></h3>
  <div>
    <ol>
      <li>前端语言 & 框架：Javascript(ES6)、Typescript、HTML、CSS、SASS、Angular、React、VUE、Express、koa</li>
      <li>后端语言 & 数据库：NodeJs、ASP.NET、PHP、Python、MySQL、MSSQL</li>
      <li>工具：webpack / babel、gulp、markdown、Chrome DEV Tools、VSCode、Git、PostMan、Docker、VirtualBox</li>
    </ol>
  </div>
</section>

<!--工作 -->
<section>
  <h3>工作经历<em> / jobs</em></h3>
  <div>
    {% include tr.html field0="2018.11 - 2020.01" field1="丽珠医药集团有限公司" field2="新项目拓展部/高级前端工程师" %}
    <ol>
      <li>负责药品进销存系统(技术栈：React、Apollo、antd)的设计及基础元素（组件、工具函数）提供</li>
      <li>参与运营后台系统若干需求的开发工作；公司各系统的日常维护</li>
      <li>项目进度跟踪、代码审查、技术辅导</li>
    </ol>
    {% include tr.html field0="2015.03 - 2018.09" field1="大唐鸿业科技有限公司" field2="IT部/前端工程师" %}
    <ol>
      <li>负责淘宝 ISV 无线应用(angularjs)、淘宝商家工具(PC / Vue2.0)、OnGoing Monitor(试验项目 /
        Meteor)、菜鸟洗衣项目管理端(Angular)、菜鸟洗衣项目会员端(Ejs、Express)的开发工作</li>
      <li>参与ERP(Angular)、美国医师资质认证系统的开发(Angular)</li>
      <li>技术辅导、代码审查</li>
    </ol>
    {% include tr.html field0="2013.09 - 2015.03" field1="大连奈特科技有限公司" field2="研发部/.NET 工程师" %}
    <ol>
      <li>负责 CMS 产品及零售系统(借鉴著名开源项目 <a
          href="https://www.nopcommerce.com/">nopCommerce</a>；二者均基于技术栈：ASP.NET、MSSQL、jQuery)的研发；日常项目维护（涉及 ASP、PHP、服务器）
      </li>
      <li>技术辅导、业务部门产品培训</li>
    </ol>
  </div>
</section>


<!-- 项目 -->
<section>
  <h3>项目经验<em> / works</em></h3>
  {% include tr.html field0="2019.04 - 2019.11" field1="药品进销存系统" field2="丽珠医药集团有限公司" %}
  <ul class="withLabel">
    <li>
      <label>描述：</label>
      平台子系统之一，用于管理药品的进销存以及配发药；
      因需求出现较大变更，且旧系统运行缓慢，对其进行重新设计和实现；
      人员配备为 3 名前端和 2 名后端；
      采用技术包括 React、react-router、Typescript、Apollo、Less</li>
    <li>
      <label>职责：</label>
      <ol>
        <li>基础架构建设，基于 create-react-app 生成工具</li>
        <li>实现基于配置的路由系统（基于 react-router）</li>
        <li>业务组件库提供（基于 antd 基础组件库）</li>
        <li>设计数据接入层（DAL）及领域模型层（Domain），提供基础的“类” </li>
      </ol>
    <li>
      <label>业绩：</label>
      <u>四个月</u>完成基本的开发工作，并通过测试，已发布上线、用户反馈积极，相对旧系统其运行速度得到明显提升
    </li>
  </ul class="withLabel">
  {% include tr.html field0="2018.02 - 2018.12" field1="菜鸟驿站洗衣服务平台会员端/运营端" field2="大唐鸿业科技有限公司" %}
  <ul class="withLabel">
    <li>
      <label>描述：</label>
      一个 2C 项目的运营端和会员端，整合区域“驿站”、某洗衣工厂、物流等资源，向用户提供“衣物清洗”服务；主要技术包括 Nodejs、Express、Ejs、Angular、PrimeNg</li>
    <li>
      <label>职责：</label>
      <ol>
        <li>项目基础架构建设，其中会员端为基于 webpack + babel + express + ejs 的服务端渲染的多页面应用，运营端为基于 ngCLI + Angular + PrimeNg 的单页面应用
        </li>
        <li>会员端，实现基本的组件库和工具库（基于 ES6）以及微信授权、支付、扫码等功能；运营端，对需求进行逻辑抽象并结合面向对象技术实现通用逻辑，对组件进行最细粒度地拆分</li>
      </ol>
    </li>
    <li>
      <label>业绩：</label>
      <u>两个月</u>基本完成“运营端”的功能开发且达到可用，未出现严重bug；会员端按期完成开发并上线，达到商业可用
    </li>
  </ul>
  {% include tr.html field0="2016.05 - 2017.11" field1="店铺通(淘宝 ISV 服务)前端" field2="大唐鸿业科技有限公司" %}
  <ul class="withLabel">
    <li>
      <label>描述：</label>
      一个基于阿里开放平台的商品管理工具，用于提升淘宝/天猫商户的商品管理效率，项目分为六个子应用；主要技术包括 Vue2.0、jQuery、Bootstrap
    </li>
    <li>
      <label>职责：</label>
      <ol>
        <li>前端基础架构建设（基于 Vue 脚手架）</li>
        <li>提供选择性构建、自动化部署功能（基于 NodeJs）</li>
        <li>基础组件库的提供（基于 Bootstrap 样式库）</li>
      </ol>
    </li>
    <li>
      <label>业绩：</label>
      按期完成功能、通过测试并顺利上线，达到预期商业目标</li>
  </ul>

  {% include tr.html field0="2014.02 - 2015.02" field1="Netin CMS 内容管理系统" field2="大连奈特网络科技有限公司" %}
  <ul class="withLabel">
    <li>
      <label>描述：</label>
      旧 CMS 技术架构陈旧、不易维护，采用性能更优的 .NET + MSSQL 重新搭建；
      基于 Task 机制解 决了(非伪)静态化、配合 SEO 部门实现相关优化工具、一键部署；
      实现了 SQL 生成工具(类ORM)
    </li>
    <li>
      <label>职责：</label>
      <ol>
        <li>数据库模型设计、系统架构设计、实现、测试与部署</li>
        <li>督促设计师和前端工程师出界面</li>
        <li>确保规定时间内实现可用</li>
        <li>内部业务部门培训</li>
        <li>公司官网和老系统升级</li>
      </ol>
    </li>
    <li>
      <label>业绩：</label>
      极大提高了网站访问速度、加快了产出效率
    </li>
  </ul>
</section>

<!-- 教育 -->
<section>
  <h3>教育背景<em> / edu</em></h3>
  {% include tr.html field0="2009.09 - 2013.06" field1="大连大学" field2="计算机网络(本科) " %}
  <ul class="withLabel">
    <li>
      <label>课程：</label>
      C 语言基础、ASP 网页制作、ASP.Net 网站制作、C++ 基础、关系型数据库设计原理、Flash 实践、VB 基础</li>
    <li>
      <label>证书：</label>
      <ol>
        <li>大学英语四级</li>
        <li>大连大学英语写作一等奖</li>
        <li>大连市数学竞赛三等奖</li>
        <li>全国高等院校数学竞赛辽宁省三等奖</li>
      </ol>
    </li>
  </ul>
</section>
