@font-face {
  font-family: "WawatiSC";
  src: local('Wawati SC Regular'); /* full url to font needed */
  unicode-range: U+0000-00FF;
}

.cv {
	$head-width: 96px;
	$head-width-mobi: 100%;
	white-space: normal;
	font-family: WawatiSC, 'PingFang SC', 'Source Han Sans SC', sans-serif;
	// font: 16px/1.5, WawatiSC;
	h2 {
		text-align: center;
		a {
			font-size: 14px;
			float: right;
			transform: rotate(45deg);
			-o-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
		}
	}
	&__contact {
		text-align: center;
		span {
			padding: 0 4px;
		}
	}
	section {
		margin: 12px 0 26px 0;
		padding: 8px 0 0 0;
		border-top: 2px solid #333;
		flex-wrap: wrap;
		> h3 {
			text-transform: uppercase;
			margin: 0 0 2rem 0;
		}
		> div {
			flex: 1;
			-ms-flex: 1;
		}
	}
	&__profile, &__skills {
		@include flexBox();
		h3 {
			width: $head-width;
			@include ifmob {
				width: $head-width-mobi;
			}
		}
	}
	// IT's a ol element
	&__works {
		position: relative;
		list-style-type: none;
		li {
			padding-left: .5rem;
		}
		i.iconfont {
			position: absolute;
			left: 0;
		}
	}
	&__exper {
		h4 {
			margin: 0;
			small {
				float: right;
				font-weight: normal;
				@include ifmob {
					display: block;
					float: none;
				}
			}
		}
		ul {
			list-style-type: none;
			padding: 0;
		}
		&-item {
			@include flexBox();
			flex-wrap: wrap;
			&-period {
				width: $head-width;
				em {
					display: block;
					width: 12px;
					border-top: 1px solid $textColor-4;
					margin: 0 3px;
				}
				@include ifmob {
					width: $head-width-mobi;
					em {
						display: inline-block;
						position: relative;
						top: -6px;
					}
				}
			}
			&-desc {
				flex: 1;
				p, ol {
					font-size: 15px;
				}
			}
		}
	}
	&__listing {
		list-style-type: none !important;
		margin: 0;
		padding: 0 !important;
		@include flexBox(space-between);
		flex-wrap: wrap;
		li {
			width: 48%;
			label {
				font-weight: bold;
			}
			span {
				float: right;
			}
			@include ifmob {
				label, span {
					display: block;
					float: none;
				}
			}
		}
		&--tags {
			display: inline-flex;
			display: -webkit-inline-flex;
			justify-content: flex-start;
			li {
				width: initial;
				label {
					font-weight: normal;
				}
				&:last-child {
					i.iconfont {
						display: none;
					}
				}
			}
		}
	}

	.skill-level {
		display: flex;
		display: -webkit-flex;
		justify-content: flex-start;
		align-items: center;
		em {
			color: #eee;
		}
	}

	$litColor: #AAA;

	.skill-level-1, .skill-level-2, .skill-level-3, .skill-level-4, .skill-level-5 {
		em:first-child {
			color: $litColor;
		}
	}

	.skill-level-2, .skill-level-3, .skill-level-4, .skill-level-5 {
		em {
			&:nth-child(2) {
				color: $litColor;
			}
		}
	}

	.skill-level-3, .skill-level-4, .skill-level-5 {
		em {
			&:nth-child(3) {
				color: $litColor;
			}
		}
	}

	.skill-level-4, .skill-level-5 {
		em {
			&:nth-child(4) {
				color: $litColor;
			}
		}
	}

	.skill-level-5 {
		em {
			&:nth-child(5) {
				color: $litColor;
			}
		}
	}
}
