// @font-face {
// 	font-family: "BrandonGrotesque";
// 	src: url("/assets/fonts/brandon/brandon_reg-webfont.woff") format("woff");
// 	font-style: normal;
// 	font-display: swap;
// }

@font-face {
	font-family: "KiddySans";
	src: url("/assets/fonts/kiddySans/kiddySans.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "KiddySans";
	src: url("/assets/fonts/kiddySans/kiddySans_italic.otf") format("opentype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "KiddySans";
	src: url("/assets/fonts/kiddySans/kiddySans_light.otf") format("opentype");
	font-weight: lighter;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "KiddySans";
	src: url("/assets/fonts/kiddySans/kiddySans_light-italic.otf")
		format("opentype");
	font-weight: lighter;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "KiddySans";
	src: url("/assets/fonts/kiddySans/kiddySans_bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "KiddySans";
	src: url("/assets/fonts/kiddySans/kiddySans_bold_italic.otf")
		format("opentype");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "KiddySans";
	src: url("/assets/fonts/kiddySans/kiddySans_fat.otf") format("opentype");
	font-weight: bolder;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "KiddySans";
	src: url("/assets/fonts/kiddySans/kiddySans_fat_italic.otf")
		format("opentype");
	font-weight: bolder;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "QuickSand";
	src: url("/assets/fonts/quicksand/Quicksand-VariableFont_wght.ttf")
		format("truetype");
	// font-weight: normal;
	font-display: swap;
}

// @import "./font_zh";
