@font-face {
	font-family: "QuickSand";
	src: url("/assets/fonts/chironHeiHK/ChironHeiHK-VariableFont_wght.ttf")
		format("truetype");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "QuickSand";
	src: url("/assets/fonts/chironHeiHK/ChironHeiHK-Italic-VariableFont_wght.ttf")
		format("truetype");
	font-style: italic;
	font-display: swap;
}
