// @font-face {
// 	font-family: "COCOGOOSE";
// 	src: url("//cdn.webfont.youziku.com/webfonts/nomal/123390/47031/5cb69933f629d8008495dd8e.gif?r=103864244161");
// 	src: url("//cdn.webfont.youziku.com/webfonts/nomal/123390/47031/5cb69933f629d8008495dd8e.gif?r=103864244161?#iefix")
// 			format("embedded-opentype"),
// 		// url("//cdn.webfont.youziku.com/webfonts/nomal/123390/47031/5cb69933f629d8008495dd8e.png?r=103864244161")
// 		// 	format("woff2"),
// 		url("//cdn.webfont.youziku.com/webfonts/nomal/123390/47031/5cb69933f629d8008495dd8e.bmp?r=103864244161")
// 			format("woff");
// 	font-weight: normal;
// 	font-style: normal;
// }
@font-face {
	font-family: Aspergit;
	font-weight: normal;
  font-style: normal;
	src: url("/assets/fonts/aspergit/Aspergit-Bold.otf");
}
