::selection {
	background-color: #444; /* Set the background color of the selected text */
	color: #ffffff; /* Set the text color of the selected text */
}

html {
	--link-active-color: #396e07;
	--main-bg-color: #ffffff;
	--main-color: #020617;
	--text-color: #1e293b;
	--text-color-1: #1e293b;
	--text-color-2: #334155;
	--text-color-3: #475569;
	--text-color-4: #64748b;
	--text-color-5: #94a3b8;
	--blockquote-bg-color: #f9ebd9;

	.Moon {
		display: none;
	}
	.Sun {
		display: unset;
	}

	&.dark {
		--link-active-color: #61ad19;
		--main-bg-color: #0c141b;
		--main-color: #fff;
		--text-color: #fff;
		--text-color-1: #f2eeee;
		--text-color-2: #f2eeee;
		--text-color-3: #f2eeee;
		--text-color-4: #f2eeee;
		--text-color-5: #f2eeee;
		--blockquote-bg-color: #5a4932;

		.Moon {
			display: unset;
		}
		.Sun {
			display: none;
		}

		img {
			filter: brightness(0.8);
		}
	}

	height: 100%;
	letter-spacing: 0.5px;
	word-spacing: 1px;
	box-sizing: border-box;

	font: 14px/1.5 "Yuanti TC", "PingFang TC", "Microsoft JhengHei", sans-serif,
		monospace;
	font-weight: 400;

	-webkit-text-size-adjust: 100%;

	background-color: var(--main-bg-color);
	color: var(--text-color);

	word-break: break-word;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeSpeed;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}
ul {
	list-style: none;
}

blockquote {
	font-size: 0.86em;
	display: block;
	padding: 1rem;
	margin: 0;
	color: var(--main-color);
	border-radius: 4px;
	background-color: var(--blockquote-bg-color);
	overflow: hidden;
	position: relative;

	&:before {
		content: "“";
		position: absolute;
		left: 0.2rem;
		top: 0.2rem;
		line-height: 1;
		font-size: 2rem;
		color: var(--text-color-2);
	}

	&.poem p {
		white-space: pre-wrap !important;
	}

	> p,
	> ul,
	> ol {
		white-space: normal !important;
		margin: 0;
	}
}

h2 {
	font-size: 1.34rem;
}

h3 {
	font-size: 1.28rem;
}

h4,
h5,
h6 {
	font-size: 1.23rem;
}

.sq-root {
	border-top: 2px solid var(--text-color);
}

.blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.XSvgIcon {
	box-sizing: border-box;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

html.dark .XSvgIcon {
	// filter: brightness(15);
	background-color: #fff;
	border-radius: 50%;
}

.XSvgIcon-lg {
	@extend .XSvgIcon;
	width: 32px;
	height: 32px;
}

.iconfont.icon-global {
	display: none;
}

.hide-scrollbar {
	overflow: auto;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}
