html {
	height: 100%;
	color: $textColor;
	letter-spacing: 0.5px;
	word-spacing: 1px;
	box-sizing: border-box;
	font: 15px/1.6 'Yuanti SC', "YouYuan", Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	background-color: #ffffff;
	word-break: break-word;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeSpeed;
	font-display: swap;
}

body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	height: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	// background: linear-gradient(4deg, rgba(238,242,247,1) 0%, rgba(195,215,233,1) 15%, rgba(63,106,175,1) 100%);
	// background-image: url(https://plants2019.oss-cn-shenzhen.aliyuncs.com/personalwebsite.plant/wuhandaqiao.jpg);
}

a {
	color: $themeColor;
	text-decoration: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}
ul {
	list-style: none;
}

blockquote {
	font-size: 1.1rem;
	display: block;
	padding: 1rem;
	margin: 0;
	color: #fff;
	border-radius: 4px;
	background: seagreen;
	overflow: hidden;
	&.poem {
		p {
			white-space: pre-wrap !important;
		}
	}
	> p,
	> ul, > ol {
		font-size: 1.1rem !important;
		white-space: normal !important;
		margin: 0;
	}
}

h2,
h3,
.h2,
.h3 {
	display: block;
	font-size: 1.34rem;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
	display: block;
	font-size: 1.23rem;
}


.sq-root {
	border-top: 2px solid $textColor;
}
