
.ad {
	$ad-client-height: 88px;
	position: relative;
	height: $ad-client-height;
	margin: 4px 0 0 0;
	overflow: hidden;
	border-radius: 4px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAQElEQVQ4T2O8e/fufwYigJKSEhGqGBgYRw3EGU6jYYgzaIZAsvn//z9ROeXevXvE5ZRRA3GG02gY4s4pgz7ZAACzhGnJVk2rbAAAAABJRU5ErkJggg==');
	background-repeat: repeat;
	// background: olivedrab url(/assets/images/starfield-banner.jpg) repeat;
	&__next {
		cursor: pointer;
		color: rgba(255, 255, 255, .68);
		position: absolute;
		right: 0;
		top: 50%;
		z-index: 10;
		transform: translateY(-50%);
		&:hover {
			color: #FFF;
			text-decoration: none;
		}
	}
	&__img {
		cursor: zoom-in;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: .4;
		&-title {
			cursor: pointer;
			position: absolute;
			z-index: 1;
			font-size: 0.8rem;
			line-height: 0.8rem;
			bottom: 4px;
			right: 4px;
			color: #fff;
			@extend .COCOGOOSE;
			@include transition(all 3s);
			&:hover {
				color: #ddd;
			}
			&--over {
				width: 100%;
				height: 88px;
				top: 0;
				left: 0;
				text-align: center;
				font-size: 4rem;
				line-height: 88px;
				opacity: 1;
				@include animation(wink, 5s, infinite);
			}
			&--loading {
				opacity: 1;
				@include animation(wink, 1s, infinite);
			}
		}
		&.slideleft-in {
			top: 0;
			left: 100%;
			opacity: 1;
			@include animation(slide-left-in, 30s, 1);
		}
		&.paused {
			animation-play-state: paused;
			-webkit-animation-play-state: paused;
		}
		&.interrupt {
			top: 0;
			left: 0;
			@include animation(fadeaway, .2s, 1);
		}
		img {
			width: 100%;
			min-height: $ad-client-height;
			display: block;
		}
	}
	@media screen and (max-width: $mobileWidth) {
		display: none;
	}
}

@keyframes wink {
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeaway {
	100% {
		opacity: 0;
	}
}

@keyframes slide-left-in {
	20% {
		top: 0;
		left: 0;
		opacity: 1;
	}
	75% {
		top: 0;
		left: 0;
		opacity: 1;
	}
	100% {
		top: 0;
		left: 0;
		opacity: 0;
	}
}
