#loadMoreButton {
    display: block;
    padding: 5px;
    text-align: center;
    > .fa-spin {
        display: none;
    }
    &.loading {
        cursor: not-allowed;
        text-decoration: none;
        > .fa-spin {
            display: inline-block;
        }
        > .fa-plus {
            display: none;
        }
    }
}

#img4qrcode {
    display: none;
}
