@mixin linearGradient($from, $to) {
    background: linear-gradient(to top, $from, $to);
    background: -webkit-linear-gradient(bottom, $from, $to);
    background: -moz-linear-gradient(to top, $from, $to);
    background: -o-linear-gradient(to top, $from, $to);
    background: -ms-linear-gradient(to top, $from, $to);
    background-repeat: no-repeat;
}

@mixin flexBox($alignX: flex-start, $alignY: flex-start) {
    display: flex;
    display: -webkit-flex;
    justify-content: $alignX;
    align-items: $alignY;
}

@mixin  boxSizing($val) {
    box-sizing: $val;
    -moz-box-sizing: $val;
    -webkit-box-sizing: $val;
}

@mixin  transition($val) {
    transition: $val;
    -webkit-transition: $val;
    -o-transition: $val;
    -moz-transition: $val;
}
