table {
	width: 100%;
	border-collapse: collapse;
	th, td {
		padding: 6px 8px;
		border: 1px solid #DDDDDD;
		&:first-child {
			border-left-color: transparent;
		}
		&:last-child {
			border-right-color: transparent;
		}
	}
	th {
		border-top-color: transparent;
		background-color: #def;
		color: #346;
	}
}
