<div class="ad" id="ref_adImgs" style="background: olivedrab;">
  <!-- <div class="ad__img">
    </div> -->
</div>
<script>
  window.__SRCSET__ = [
    {
      title: "Safranbolu",
      src: "/assets/images/fan-hong-hua-cheng.jpg"
    },
    {
      title: "Rafael Nadal",
      src: "/assets/images/nadal.png"
    },
    {
      title: "Winnats Pass",
      src:
        "https://cn.bing.com/th?id=OHR.WinnatsPass_ZH-CN8251326840_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp"
    },
    {
      title: "Farmland Landscape",
      src:
        "https://cn.bing.com/th?id=OHR.FarmlandLandscape_ZH-CN8021236701_UHD.jpg&rf=LaDigue_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4"
    },
    {
      title: "Feringasee",
      src:
        "https://cn.bing.com/th?id=OHR.Feringasee_ZH-CN6335425001_UHD.jpg&rf=LaDigue_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4"
    },
    {
      title: "Dubai Fountain",
      src:
        "https://cn.bing.com/th?id=OHR.DubaiFountain_ZH-CN7944507087_UHD.jpg&rf=LaDigue_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4"
    },
    {
      title: "Lecada Palmeira",
      src:
        "https://cn.bing.com/th?id=OHR.LecadaPalmeira_EN-CN8499526954_UHD.jpg&rf=LaDigue_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4"
    },
    {
      title: "Drinking Nectar",
      src:
        "https://cn.bing.com/th?id=OHR.DrinkingNectar_EN-CN7992818937_UHD.jpg&rf=LaDigue_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4"
    }
  ];
</script>
<script defer src="/assets/ad.js?v=201908251425"></script>
