<div id="gitmentContainer"></div>
<script>
!function(){if(!(window.innerWidth<992)){var t=document.createElement.bind(document),n=document.head,e=t("link");e.rel="stylesheet",e.href="/assets/gitment.css";var i=t("script");i.src="/assets/gitment.min.js",i.onload=function(){i.onload=null,setTimeout(function(){var t=[2311779258,36626,4001143138,44857,3722211183,39033,2747849480,41502,633675551,57268],n=function(n){return t.filter((t,e)=>e%2===n)},e=function(t){return Number.prototype.toString.call(t,16)};new Gitment({id:"{{ page.path }}".replace(/[\s\.\-_\/\\]/g, "").substr(5, 50),owner:"zxh19890103",repo:"singhi.io",oauth:{client_id:n(1).map(e),client_secret:n(0).map(e)}}).render("gitmentContainer")},100)},n.appendChild(e),n.appendChild(i)}}();
</script>
