<meta charset="utf8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
<link rel="stylesheet" href="/assets/new-ui.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_1130957_3b2p7k2w7gs.css" />
{% if include.noBundleJs == "noBundleJs" %}
{% else %}
<script async src="/assets/bundle.js?v={{ site.version }}"></script>
{% endif %}
