<meta charset="utf8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />

{% if include.CV %}
<!-- <link rel="stylesheet" href="/assets/style.css" /> -->
{% else %}
<link rel="stylesheet" href="/assets/style.css" />
{% endif %}

<link rel="stylesheet" href="//at.alicdn.com/t/font_1130957_l9mloe8xyx.css" />

{% if page.lazy %}
<script src="/assets/lazyload.min.js"></script>
{% endif %}
<!--  -->
{% if include.noBundleJs == "noBundleJs" %}
<!--  -->
{% else %}
<script defer src="/assets/bundle.js?v={{ site.version }}"></script>
{% endif %}
<!-- JS -->
{% if include.CV %}
<!-- nojs -->
{% else %}
<script>
  function __determineThePicDim(e) {
    const img = e.target
    const clientDiv = img.parentElement
    clientDiv.classList.add("loaded")
  }
  function __determineThePicLoadErr(e) {
    const img = e.target
    if (img.__err) return
    img.__err = true
    img.src =
      "https://cdn.midjourney.com/a87ae473-e211-43f5-aab6-8364cfc84db0/0_0.webp"
  }
  function __switchDarkLight(evt, init) {
    const curVal = localStorage.getItem("x-theme")
    const Doc = document.documentElement
    const oldVal = curVal ? curVal : "light"
    const nextVal = init ? curVal : oldVal === "light" ? "dark" : "light"
    Doc.className = nextVal
    localStorage.setItem("x-theme", nextVal)
  }

  __switchDarkLight(null, true)

  function __openCodePresentation(url) {
    const Page = document.querySelector('#page');
    const Article = Page.firstElementChild;

    const CodeSection = document.createElement('div')
    CodeSection.innerHTML = `<iframe frameborder="none" width="100%" height="100%" src="${url}"></iframe>`
    CodeSection.style.cssText = 'position: fixed; top: 0; right: 0; width: 50vw; height: 100vh; z-index: 1921; border: 1px solid #ddd; border-radius: 4px; box-sizing: border-box; box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5); opacity: 0.92;';

    Page.appendChild(CodeSection);
    const dispose = (evt) => {
      if (evt.target === CodeSection) return;
      Page.removeChild(CodeSection)
      Page.removeEventListener('click', dispose)
    }

    setTimeout(() => {
      Page.addEventListener('click', dispose)
    }, 0);
  }
</script>
{% endif %}