<div class="photo-wrapper">
  <div class="photo" onclick="showPhotoModal('{{include.src}}')">
    {% assign title = include.title | default: site.title %}
    <img
      class="photo__entity"
      alt="{{ include.alt | default: title }}"
      title="{{ title }}"
      src="{{ include.src }}"
      onload="__determineThePicDim(event)"
      onerror="__determineThePicLoadErr(event)"
    />
  </div>
  {% if include.title %}
  <div class="photo__title">{{ include.title }}</div>
  {% endif %}
</div>
