<ul class="menu">
  <li class="menu__item menu__item--first">
    <a href="/">记录 / Blog</a>
  </li>
  <li class="menu__item">
    <a href="/categories">分类 / Categories</a>
  </li>
  <li class="menu__item">
    <a href="/patterns">设计模式 / Patterns</a>
  </li>
  <li class="menu__item">
    <a href="/publication">发刊词 / Publication</a>
  </li>
  <li class="menu__item">
    <a href="/about">关于我 / About</a>
  </li>
  <!-- <li class="menu__item">
    <a href="http://192.168.1.101:8080/comments.php">评论 / Comments</a>
  </li> -->
  <li class="menu__item">
    <a href="http://stories.longloneliness.com/comments.php">评论 / Comments</a>
  </li>
  <li class="menu__item">
    <a href="/blogs">学习 / Links</a>
  </li>
  <!-- <li class="menu__item">
    <a href="/cv-zh" target="_blank">CV</a>
  </li> -->
  <li class="menu__item menu__item--last">
    <a target="_blank" href="/feed.xml">RSS</a>
  </li>
</ul>
