<ul class="menu">

  <li class="menu__item">
    <a href="/">編程 / Tech</a>
  </li>
  <li class="menu__item menu__item--first">
    <a href="/life">紀錄 / Blog</a>
  </li>
  <!--<li class="menu__item">
    <a href="/categories">分类 / Categories</a>
  </li> -->
  <!-- <li class="menu__item">
    <a target="_blank" href="https://www.tsphotos.art">时空相册 / TS Photos</a>
  </li> -->
  <li class="menu__item">
    <a href="/opengl">計算機圖形 / OpenGL</a>
  </li>
  <li class="menu__item">
    <a href="/hisd">歷史解碼 / History Defined</a>
  </li>
  <li class="menu__item">
    <a href="/patterns">設計模式 / Patterns</a>
  </li>
  <!--   <li class="menu__item">
    <a href="/publication">发刊词 / Publication</a>
  </li> -->
  <li class="menu__item">
    <a href="/about">關於我 / About</a>
  </li>
  <!-- <li class="menu__item">
    <a href="http://192.168.1.101:8080/comments.php">评论 / Comments</a>
  </li> -->
  <!--   <li class="menu__item">
    <a href="http://stories.longloneliness.com/comments.php">评论 / Comments</a>
  </li> -->
  <!--   <li class="menu__item">
    <a href="/tags.html">标签 / Tags</a>
  </li> -->
  <!--   <li class="menu__item">
    <a target="_blank" href="http://www.longloneliness.com">漫长孤寂 / Long Loneliness</a>
  </li> -->
  <li class="menu__item">
    <a target="_blank" href="https://wik.zhangxinghai.cn">Wik(Warehouse Visualization Lib)</a>
  </li>
  <li class="menu__item">
    <a target="_blank" href="https://threelearning.zhangxinghai.cn">ThreeJs Learning Plan</a>
  </li>
  <li class="menu__item">
    <a target="_blank" href="https://www.superscada.com">Superscada</a>
  </li>
  <li class="menu__item">
    <a href="/blogs">別人的網站 / Links</a>
  </li>
  <li class="menu__item">
    <a href="/cv">CV</a>
  </li>
  <li class="menu__item">
    <a href="/cv-en">CV (English)</a>
  </li>
  <li class="menu__item menu__item--last">
    <a target="_blank" href="/feed.xml">RSS</a>
  </li>
</ul>