<ul class="menu">
    <li>
        <a href="/">文档</a>
    </li>
    <li>
        <a href="/about">关于</a>
    </li>
    <li>
        <a href="/contact">联系</a>
    </li>
    <li>
        <a href="/resume">履历</a>
    </li>
    <li>
        <a href="/blogs">博客</a>
    </li>
    <li>
        <a href="http://css.zhangxinghai.cn">CSS</a>
    </li>
    <li>
        <a target="_blank" class="rss fr" href="/feed">
            <img style="vertical-align: middle;" src="/assets/rss.gif">
        </a>
    </li>
</ul>
