@import "./new-ui/mixins";
@import "./new-ui/font";
@import "./new-ui/init";

body {
	overflow: auto;
}

.mycv {
	margin: 0 auto;
	width: 780px;
	box-sizing: border-box;
	padding: 0 2rem 2rem 2rem;
	font-size: 16px;
	line-height: 1.4;
	background-color: #ffffff;
	color: #333;

	a {
		font-style: italic;
		color: #000;
		text-decoration: underline;
		&:before {
			content: "ª";
			color: #666;
		}
		&:hover {
			color: #333;
		}
	}

	&.english {
		font-family: BrandonGrotesque;
		font-size: 18px;
	}

	@media only screen and (max-width: 780px) {
		width: 100%;
	}

	@media only print {
		padding: 0;
	}

	&__main {
		width: 100%;
	}

	h2 {
		font-size: 2.5rem;
		text-align: center;
		margin-bottom: 5rem;
	}

	h3 {
		font-size: 2rem;
		margin-top: 5rem;
	}

	h4 {
		margin-top: 3rem;
		display: flex;
		justify-content: start;
		align-items: center;

		@media only screen and (max-width: 780px) {
			display: block;
			em {
				display: none;
			}
		}

		a {
			margin-left: 1rem;
		}

		em {
			font-style: normal;
			font-size: 1rem;
			width: 0px;
			border-left: 1px solid #777;
			overflow: hidden;
			margin: 0 1rem;
		}
	}

	ul {
		list-style-type: square;
	}
	ul,
	ol {
		list-style-position: outside;
		padding-inline-start: 2em;
	}

	ol {
		list-style-type: lower-greek;
		padding-left: 2em;
	}

	ol,
	ul {
		font-size: 0.95 * 16px;
		em {
			&:after {
				content: "：";
			}

			text-decoration-color: #555;
			text-decoration-line: underline;
			text-decoration-style: dotted;
			text-decoration-thickness: from-font;
		}
	}

	&.english {
		ol,
		ul {
			em {
				&:after {
					content: ": ";
				}
			}
		}
	}

	hr {
		border: none;
		height: 0;
		border-top: 1px dotted #ddd;
		margin: 1rem auto;
		page-break-after: always;
		@media only print {
			border-color: white;
		}
	}
}
