@import "./new-ui/mixins";
@import "./new-ui/font";
@import "./new-ui/init";
@import "./new-ui/layout";

// Listing of documents
.documents {
	margin-top: 2rem;
	padding-left: 0 !important;
	padding-bottom: 3rem;
	list-style: none !important;

	&.hide-journal {
		.cat-journal {
			display: none;
		}
	}

	&.hide-tech {
		.cat-tech {
			display: none;
		}
	}

	&__item {
		margin-bottom: 4rem;

		&-3dots {
			position: relative;
			top: 4px;
			left: 2px;
			font-size: 1rem;
			letter-spacing: 2px;
		}

		@include ifmob() {
			margin-bottom: 2.5rem;
		}

		&:last-child {
			margin-bottom: 0px;
		}
	}
}

.document {
	margin: 0.5rem 0 1rem 0;

	h3 {
		color: var(--text-color-1);
		margin: 0;
		font-weight: normal;
		font-size: 1.4em;
	}

	p {
		margin: 0.25rem 0 0 0;
		height: 2rem;
		font-size: 1.2em;
		line-height: 2rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		time {
			font-size: 0.9em;
			color: var(--text-color-4);
		}
	}

	&__link {
		line-height: 1;
		transition: color 0.3s linear;

		&:visited {
			color: var(--text-color-4);
		}
		&:link {
			color: var(--text-color-3);
		}
		&:hover {
			color: var(--link-active-color);
			text-decoration: underline;
		}
	}
}

// Post & Page
.article {
	position: relative;
	// default
	font-size: 1.24rem;
	line-height: 1.685;

	&.Cat-tech {
		font-size: 1.25rem;
	}

	&.Cat-hisd,
	&.Cat-journal {
		font-size: 1.3rem;
	}

	&__title,
	.page__title {
		margin: 0 -2rem 3rem -2rem;
		padding: 2rem 2rem 1rem 2rem;
		color: var(--text-color-1);
		z-index: 1;
		font-size: 1.8em;
		font-weight: 400;
		line-height: 1;
		word-break: keep-all;
		word-wrap: break-word;
		overflow-wrap: break-word;

		@include ifmob {
			position: static;
			top: 0;
		}
	}

	.When-Where {
		font-size: 0.9em;
		&::before {
			content: "\2014\2014";
		}
	}

	&__body,
	.Book__Content {
		padding: 2rem 0;
		font-size: 1em;

		&.english {
			font-size: 1.05em;
		}

		h2,
		h3,
		h4,
		h5,
		h6 {
			color: var(--text-color-2);
			line-height: 1;
			font-weight: normal;
		}
		h2,
		h3 {
			margin: 3em 0 1.5em 0;
		}

		h4 {
			margin: 2em 0 1em;
		}

		h2 {
			font-size: 1.34em;
		}
		h3 {
			font-size: 1.2em;

			&:before {
				content: "＃";
				margin: 0 0.2em 0 0;
				vertical-align: baseline;
				font-size: 0.9em;
				color: var(--text-color-3);
			}
		}

		h4,
		h5,
		h6 {
			font-size: 1.05em;
		}

		h4 {
			&:before {
				content: "＃＃";
				margin: 0 0.2em 0 0;
				vertical-align: baseline;
				font-size: 0.9em;
				color: var(--text-color-3);
			}
		}

		p {
			white-space: pre-wrap;

			> img {
				display: block;
				max-width: 100%;
				height: auto;
				margin: 0 auto;
				border: 4px solid #ddd;
				border-radius: 4px;
			}

			@include ifmob() {
				font-size: 1em;
				line-height: 1.5;
			}
		}

		a {
			text-decoration-line: underline;
			text-underline-offset: 0.2em;
			text-decoration-thickness: 1px;
			&:hover {
				color: var(--link-active-color);
				text-decoration-color: var(--link-active-color);
			}
		}

		figure {
			font-size: 0.9em;
			text-align: center;
			color: #777;

			img {
				max-width: 100%;
				min-height: 30px;
				background-color: #ddd;
				width: auto;
				height: auto;
			}
		}
	}

	.Book__Title {
		font-size: 2em;
		text-align: center;
		margin: 4rem 0;
	}

	.Book__Meta {
		display: flex;
		gap: 1.5rem;
		row-gap: normal;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 2rem;
		line-height: 1;
		font-size: 1.4rem;
	}

	.Book__Side {
		height: 100vh;
		padding: 1rem;
		width: fit-content;
		overflow-y: auto;
		font-size: 0.84em;
		z-index: 45;
		background-color: rgb(30, 40, 49);
		color: #fff;
		transition: transform 0.1s ease-in-out;

		a {
			color: #fff;
			text-underline-offset: 0.2em;
			text-decoration-thickness: 1px;
			&:hover {
				color: #999;
				text-decoration: underline;
			}
		}

		@include ifmob {
			display: none;
		}
	}

	.Book__Chapters {
		position: fixed;
		top: 0;
		left: 15px;
		transform: translate(-100%, 0);

		a.disabled {
			pointer-events: none;
			color: #999;
			text-decoration: underline;
		}

		&:hover {
			transform: translateX(-15px);
		}
	}

	.Book__Chapter_Menu {
		position: fixed;
		top: 0;
		right: 15px;
		transform: translate(100%, 0);
		&:hover {
			transform: translateX(15px);
		}

		li.highlighted {
			position: relative;
			&::before {
				content: "";
				display: block;
				width: 2rem;
				background: aquamarine;
				height: 100%;
				border-top-right-radius: 50%;
				border-bottom-right-radius: 50%;
				position: absolute;
				left: -3.5rem;
				top: 0px;
			}
		}

		.H3 {
			list-style-position: inside;
			// padding-left: 1em;
			font-size: 0.9em;
		}
	}

	.Article-Time {
		color: var(--text-color-5);
		vertical-align: middle;
		display: inline-block;
	}

	.Author {
		&-Profile {
			filter: contrast(2);
			width: 40px;
			height: 40px;
			border: 2px solid var(--link-active-color);
			border-radius: 50%;
		}

		&-Intro {
			color: var(--text-color-5);
			line-height: 1;
			font-size: 1.2rem;
		}
	}

	hr {
		padding: 0;
		margin: 0;
		margin-bottom: calc(1.75rem - 1px);
		border: 1px dashed rgba(0, 0, 0, 0.6);
		transform: scaleY(0.3);
	}
	ol,
	ul {
		padding-left: 2em;
		list-style-position: outside;
		font-size: 0.96em;
	}
	ul {
		list-style-type: square;
	}
	iframe {
		border-left: 2px solid #efefef;
	}
}

.english {
	font-family: KiddySans;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

.song {
	text-align: center;
}

.end-line-v2 {
	width: 100%;
	height: 0; /* Adjust the thickness of the divider */
	border-top: 4px double #efefef;
	margin: 1rem 0 2rem 0;
}

// Photo viewer
.photo-modal {
	cursor: zoom-out;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.56);
	z-index: 3;

	&__close {
		position: absolute;
		top: 3px;
		right: -54px;
		font-size: 1rem;
		color: #dfdfdf;
		transform: rotate(45deg);
		display: block;
		width: 145px;
		text-align: center;
		height: 2rem;
		line-height: 2rem;
		background-color: #1a2a3a;
		box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.2);
		&:hover {
			color: #afafaf;
			text-decoration: none;
		}
	}
	&__content {
		@include flexBox(center, center);
		padding: 10px;
		width: 100%;
		height: 100%;
		color: #fff;
		@include boxSizing(border-box);
		img {
			background: #fff;
			border: 6px solid #fff;
			box-sizing: border-box;
			border-radius: 4px;
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
			transition: all 0.5s ease-in-out;
		}
	}
}

.photo {
	margin: 0 -2rem 0rem -2rem;
	min-height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	@keyframes moveStripes {
		from {
			background-position: 0 0;
		}
		to {
			background-position: 0 40px; /* Adjust the distance the pattern moves */
		}
	}

	animation: moveStripes 0.5s linear infinite;
	background: repeating-linear-gradient(
		to right bottom,
		#ddd 0,
		#ddd 20px,
		#fefefe 20px,
		#fefefe 40px
	);

	&.loaded {
		animation: none;
		background: #fefefe;
	}

	&-wrapper {
		cursor: zoom-in;
		margin-bottom: 1rem;
	}

	&__entity {
		max-width: 100%;
		display: block;
		margin: 0 auto;
		min-height: 0;
		// border: 1px dashed #ddd;
		border-radius: 2px 3px;
		padding: 4px;
		box-sizing: border-box;
		// background-image: linear-gradient(to bottom, #fff, #666);
	}

	&__title {
		font-size: 0.76em;
		line-height: 1.2;
		margin-top: 0.3em;
		color: var(--text-color-3);
		text-align: center;
	}
}

.Tags {
	padding: 0.4rem;
	font-size: 0.9rem;

	a {
		color: #fff;
	}

	&__Viewport {
		width: 100%;
		height: 100%;
		max-height: 256px;
		overflow: hidden;
		box-sizing: border-box;
		.Words {
		}
	}
}

.hidden-if-mobi {
	@include ifmob() {
		display: none;
	}
}

.openGLbox {
	color: white;
	padding: 1rem 2rem;
	margin: 1rem 0;
	border-radius: 4px 6px;
	font-size: 0.9em;

	p {
		margin: 0;
	}

	&-green {
		background-color: #d8f5d8;
		color: #444;
		border: 2px solid #afdfaf;
	}

	&-red {
		background-color: #ffd2d2;
		color: #444;
		border: 2px solid #e0b3b3;
	}
}

@import "./new-ui/identities", "./new-ui/github", "./new-ui/table",
	"./new-ui/comment", "./new-ui/cardstyle";
