@import "./new-ui/mixins";
@import "./new-ui/font";
@import "./new-ui/init";
@import "./new-ui/layout";

// Listing of documents
.documents {
	margin-top: 2rem;
	padding-left: 0 !important;
	padding-bottom: 3rem;
	list-style: none !important;

	&__item {
		margin-bottom: 4rem;

		&-3dots {
			position: relative;
			top: 4px;
			left: 2px;
			font-size: 1rem;
			letter-spacing: 2px;
		}

		@include ifmob() {
			margin-bottom: 2.5rem;
		}

		&:last-child {
			margin-bottom: 0px;
		}
	}
}

.document {
	margin: 0.5rem 0 1rem 0;

	h3 {
		margin: 0;
		font-weight: bold;
		font-size: 1.4em;
	}

	p {
		margin: 0;
		height: 1.4rem;
		font-size: 1.2em;
		line-height: 1.4rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__link {
		line-height: 1;
		transition: color 0.3s linear;

		&:visited {
			color: var(--text-color-4);
		}
		&:link {
			color: var(--text-color-3);
		}
		&:hover {
			color: var(--link-active-color);
			text-decoration: underline;
		}
	}
}

// Post & Page
.article {
	position: relative;
	font-size: 1.24rem;
	line-height: 1.685;

	&__title,
	.page__title {
		margin: 0 -2rem 3rem -2rem;
		padding: 1rem 2rem 1rem 2rem;
		color: var(--text-color-1);
		z-index: 1;
		font-size: 2em;
		line-height: 1;
		word-break: keep-all;
		word-wrap: break-word;
		overflow-wrap: break-word;

		@include ifmob {
			position: static;
			top: 0;
		}
	}

	&__body {
		padding: 2rem 0;
		font-size: 1em;

		&.english {
			font-size: 1.2em;
		}

		h2,
		h3,
		h4,
		h5,
		h6 {
			color: var(--text-color-2);
			line-height: 1;
		}
		h2,
		h3 {
			margin: 3em 0 1.5em 0;
		}

		h4 {
			margin: 2em 0 1em;
		}

		h2 {
			font-size: 1.34em;
		}
		h3 {
			font-size: 1.28em;
		}
		h4,
		h5,
		h6 {
			font-size: 1.23em;
		}

		p {
			white-space: pre-wrap;

			@include ifmob() {
				font-size: 1em;
				line-height: 1.5;
			}
		}

		a {
			text-decoration: underline;
		}
	}

	.Article-Time {
		color: var(--text-color-5);
		vertical-align: middle;
		display: inline-block;
	}

	.Author {
		&-Profile {
			filter: contrast(2);
			width: 40px;
			height: 40px;
			border: 2px solid var(--link-active-color);
			border-radius: 50%;
		}

		&-Intro {
			color: var(--text-color-5);
			line-height: 1;
			font-size: 1.2rem;
		}
	}

	hr {
		padding: 0;
		margin: 0;
		margin-bottom: calc(1.75rem - 1px);
		border: 1px dashed rgba(0, 0, 0, 0.6);
		transform: scaleY(0.3);
	}
	ol,
	ul {
		padding-left: 2em;
		list-style-position: outside;
		font-size: 0.9em;
	}
	ul {
		list-style-type: square;
	}
	iframe {
		border-left: 2px solid #efefef;
	}
}

.english {
	font-family: BrandonGrotesque;
}

.song {
	text-align: center;
}

.end-line-v2 {
	width: 100%;
	height: 0; /* Adjust the thickness of the divider */
	border-top: 4px double #efefef;
	margin: 1rem 0 2rem 0;
}

// Photo viewer
.photo-modal {
	cursor: zoom-out;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.56);
	z-index: 3;
	&__close {
		position: absolute;
		top: 3px;
		right: -54px;
		font-size: 1rem;
		color: #dfdfdf;
		transform: rotate(45deg);
		display: block;
		width: 145px;
		text-align: center;
		height: 2rem;
		line-height: 2rem;
		background-color: #1a2a3a;
		box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.2);
		&:hover {
			color: #afafaf;
			text-decoration: none;
		}
	}
	&__content {
		@include flexBox(center, center);
		padding: 10px;
		width: 100%;
		height: 100%;
		color: #fff;
		@include boxSizing(border-box);
		img {
			background: #fff;
			border: 6px solid #fff;
			box-sizing: border-box;
			border-radius: 4px;
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
			transition: all 0.5s ease-in-out;
		}
	}
}

.photo {
	margin: 0 -2rem 0rem -2rem;
	min-height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	@keyframes moveStripes {
		from {
			background-position: 0 0;
		}
		to {
			background-position: 0 40px; /* Adjust the distance the pattern moves */
		}
	}

	animation: moveStripes 0.5s linear infinite;
	background: repeating-linear-gradient(
		to right bottom,
		#333 0,
		#333 20px,
		#000 20px,
		#000 40px
	);

	&.loaded {
		animation: none;
		background: #333;
	}

	&-wrapper {
		cursor: zoom-in;
		margin-bottom: 1rem;
	}

	&__entity {
		max-width: 100%;
		display: block;
		margin: 0 auto;
		min-height: 0;
		background-image: linear-gradient(to bottom, #fff, #666);
	}

	&__title {
		font-size: 0.9em;
		margin-top: 0.3em;
		color: var(--text-color-3);
		text-align: center;
		line-height: 1;
	}
}

.Tags {
	padding: 0.4rem;
	font-size: 0.9rem;

	a {
		color: #fff;
	}

	&__Viewport {
		width: 100%;
		height: 100%;
		max-height: 256px;
		overflow: hidden;
		box-sizing: border-box;
		.Words {
		}
	}
}

.hidden-if-mobi {
	@include ifmob() {
		display: none;
	}
}

@import "./new-ui/identities", "./new-ui/github", "./new-ui/table",
	"./new-ui/comment", "./new-ui/cardstyle";
