$themeColor: #456;
$textColor: #1a2a3a;
$textColor-1: #1a2a3a;
$textColor-2: #5d646b;
$textColor-3: #5a6a7a;
$textColor-4: #7a8a9a;
$paperColor: #ffffff;

@import "./new-ui/mixins";
@import "./new-ui/font";
@import "./new-ui/init";
@import "./new-ui/layout";

.blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

// Listing of documents
.documents {
	margin-top: 2rem;
	padding-left: 0 !important;
	list-style: none !important;
	&__item {
		border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
		margin-bottom: 3rem;
		@include ifmob() {
			margin-bottom: 1rem;
		}
		&:last-child {
			border-bottom: none;
			margin-bottom: 0px;
		}
	}
}

.document {
	margin: 0.5rem 0 1rem 0;
	h3,
	.h3 {
		margin: 0;
		font-weight: bold;
	}
	p {
		color: $textColor-4;
		margin: 0;
		height: 1.4rem;
		line-height: 1.4rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

// Post & Page
.article {
	position: relative;
	margin: 1rem 0 1rem 0;
	padding: 1rem 0 1rem 0;

	&__title,
	.page__title {
		position: sticky;
		top: 0;
		margin: 0 -2rem 3rem -2rem;
		padding: 1rem 2rem 1rem 2rem;
		background: rgba($color: $paperColor, $alpha: 0.95);
		color: $textColor-2;
		z-index: 1;
		border-bottom: 1px solid #efefef;
		font-size: 2rem;

		&-createdAt {
			font-size: 1.6rem; // as icon's size is 16px
			color: $textColor-4;
		}

		&--english {
			font-family: Aspergit;
		}
		@include ifmob {
			position: static;
			top: 0;
		}
	}
	&__body {
		margin-bottom: 4rem;
		h1,
		.h1,
		.title {
			color: $textColor-2;
		}
		h2,
		h3,
		h4,
		.h2,
		.h3,
		.h4 {
			color: $textColor-1;
			position: relative;
		}
		h2,
		h3,
		.h2,
		.h3 {
			margin: 4rem 0 2rem 0;
		}
		h4,
		.h4 {
			margin: 2rem 0 1rem;
			display: inline-block;
			max-width: 61.8%;
			&:after {
				content: "";
				position: absolute;
				left: -0.1em;
				right: -0.1em;
				bottom: 0;
				height: 0.5em;
				transition: height 200ms cubic-bezier(0, 0.8, 0.13, 1);
				background-color: rgba($themeColor, 0.3);
			}
		}
		p {
			word-break: break-word;
			white-space: pre-wrap;
			line-height: 1.685;
			font-size: 1.24rem;
			@include ifmob() {
				line-height: 1.5;
			}
		}
		a {
			text-decoration: underline;
		}
		&--song {
			text-align: center;
		}
		&--english {
			font-family: Aspergit;
		}
	}
	&__attrs {
		margin-bottom: 1rem;
		&-src {
			color: $textColor-4;
		}
		&-tags {
			color: $textColor-4;
			a {
				margin-right: 0.5rem;
				text-decoration: underline;
				&:hover {
					color: lighten($themeColor, 20);
				}
			}
		}
	}
	hr {
		padding: 0;
		margin: 0;
		margin-bottom: calc(1.75rem - 1px);
		border: 1px dashed rgba(0, 0, 0, 0.6);
		transform: scaleY(0.3);
	}
	ol,
	ul {
		padding-left: 2em;
		list-style-position: outside;
		font-size: 1.15rem;
		color: #333;
	}
	ul {
		list-style-type: square;
	}
	iframe {
		border-left: 2px solid #efefef;
	}
}

.end-line {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	align-items: center;
	&:before {
		content: "";
		flex: 1;
		height: 1px;
		margin: 12px 0;
		background: rgba(0, 0, 0, 0.2);
	}
	&__bull {
		padding: 0 8px;
		font-size: 20px;
		color: rgba(0, 0, 0, 0.2);
	}
	&:after {
		content: "";
		flex: 1;
		height: 1px;
		margin: 12px 0;
		background: rgba(0, 0, 0, 0.2);
	}
}

// Photo viewer
.photo-modal {
	cursor: zoom-out;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.56);
	z-index: 3;
	&__close {
		position: absolute;
		top: 3px;
		right: -54px;
		font-size: 1rem;
		color: #dfdfdf;
		transform: rotate(45deg);
		display: block;
		width: 145px;
		text-align: center;
		height: 2rem;
		line-height: 2rem;
		background-color: #1a2a3a;
		box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.2);
		&:hover {
			color: #afafaf;
			text-decoration: none;
		}
	}
	&__content {
		@include flexBox(center, center);
		padding: 10px;
		width: 100%;
		height: 100%;
		color: #fff;
		@include boxSizing(border-box);
		img {
			// max-width: 100%;
			// max-height: 100%;
			background: #fff;
			border: 6px solid #fff;
			box-sizing: border-box;
			border-radius: 4px;
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
			transition: all 0.5s ease-in-out;
		}
	}
}

.photo {
	margin: 0 -2rem 1rem -2rem;
	&-wrapper {
		// todo:
		cursor: zoom-in;
	}
	&__entity {
		max-width: 100%;
		// "inline" let img has a space bellow.
		// to remove it.
		display: block;
		margin: 0 auto;
		min-height: 300px;
		background-image: linear-gradient(to bottom, #fff, #888);
		&--loaded {
			min-height: auto;
		}
	}
	&__title {
		font-size: 0.9rem;
		color: $textColor-3;
		text-align: center;
		padding: 0 2rem;
	}
}

.hidden-if-mobi {
	@include ifmob() {
		display: none;
	}
}

// font
.pure-english {
	font-family: Aspergit;
}

@import "./new-ui/identities", "./new-ui/github", "./new-ui/table",
	"./new-ui/comment", "./new-ui/cardstyle";

@import "./new-ui/cv";
