$themeColor: seagreen;
$textColor: #1a2a3a;
$textColor-1: #1a2a3a;
$textColor-2: #3a4a5a;
$textColor-3: #5a6a7a;
$textColor-4: #7a8a9a;
$paperColor: lighten(#f5f5d5, 8);
$leftWidth: 30%;
$rightWidth: 70%;

@import "./zero/mixins";

@font-face {
	font-family: Aspergit;
	src: url("/assets/fonts/aspergit/Aspergit\ Bold.otf");
}

html {
	height: 100%;
	color: $textColor;
	letter-spacing: 0.5px;
	word-spacing: 1px;
	box-sizing: border-box;
	font: 16px/1.5 Aspergit, -apple-system,BlinkMacSystemFont,'Helvetica Neue', 'PingFang TC','Microsoft YaHei','Source Han Sans TC','Noto Sans CJK TC', 'WenQuanYi Micro Hei',sans-serif;
	// font: 16px/1.5 Aspergit, Futura, -apple-system, SF UI Text, Arial, PingFang SC,Hiragino Sans GB, Microsoft YaHei, sans-serif;
	// font: 16px/1.5 Titillium,"Lucida Sans Typewriter","Helvetica Neue",Helvetica,Arial,"\5FAE\8F6F\96C5\9ED1","Microsoft YaHei","\5B8B\4F53";
	// font: 300 16px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	background-color: #ffffff;
	word-break: break-word;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeSpeed;
	font-display: swap;
}

.COCOGOOSE {
	/*
	The font-display API specifies how a font is displayed. swap tells the browser that text using the font should be displayed immediately using a system font. Once the custom font is ready, it replaces the system font.
	*/
	font-display: swap;
	font-weight: bold;
}

a {
	color: $themeColor;
	text-decoration: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}
ul {
	list-style: none;
}

body {
	margin: 0;
	padding: 0;
	background: aliceblue;
	height: 100%;
	overflow: hidden;
	@include linearGradient(darken(aliceblue, 4), white);
}

blockquote {
	display: block;
	padding: 1rem;
	margin: 0;
	color: $textColor-2;
	border-radius: 4px;
	background: #f3f5f9;
	// word-break: break-word;
	// white-space: pre-wrap;
	font-size: 0.9em;
	p,
	ul {
		margin: 0;
		color: cadetblue;
	}
}

h2,
h3,
.h2,
.h3 {
	display: block;
	font-size: 1.24rem;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
	display: block;
	font-size: 1.12rem;
}

.blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.page-wrapper {
	height: 100%;
	overflow: auto;
}

.page {
	width: 21cm;
	margin: 12px auto;
	padding: 5px 1rem;
	@include boxSizing(border-box);
	border-radius: 4px;
	background-color: $paperColor;
	@include ifmob {
		width: 100%;
	}
}

.header {
	@include flexBox(flex-start, stretch);
	&__logo {
		width: $leftWidth;
		margin: 0;
		.logo {
			margin: -5px 5px 0 0;
			padding: 5px 8px 0 8px;
			height: 100%;
			text-align: center;
			@include linearGradient(aliceblue, white);
			border-bottom-right-radius: 6px;
			border-bottom-left-radius: 6px;
			&__title {
				img {
					width: 40px;
					float: left;
					margin-right: 0.5rem;
				}
				text-align: left;
				font-size: 1.2rem;
				line-height: 45px;
				letter-spacing: 0;
				font-weight: bold;
				margin-bottom: 6px;
				border-bottom: 1px inset #ededed;
				color: lighten($textColor, 15);
			}
			&__motto {
				color: lighten($textColor, 28);
				line-height: 1.2rem;
				font-size: 1rem;
				transform: translateY(14px);
				small {
					font-size: 0.7em;
					color: lighten($textColor, 40);
					line-height: 0;
					font-weight: lighter;
					text-transform: uppercase;
				}
			}
		}
		@include ifmob {
			display: none;
		}
	}
	&__menu {
		width: $rightWidth;
		.menu {
			display: flex;
			display: -webkit-flex;
			justify-content: flex-start;
			align-items: flex-start;
			list-style: none;
			font-size: 1.2rem;
			li {
				flex: 1;
				a {
					display: block;
					margin: 7px 6px;
					text-align: center;
					color: $textColor;
					font-size: 1rem;
					line-height: 1.2rem;
					border-bottom: 2px solid transparent;
					&:hover {
						color: $textColor-3;
						border-bottom-color: darkseagreen;
					}
				}
			}
			@include ifmob {
				li:nth-child(5), li:nth-child(6) {
					display: none;
				}
			}
		}
		@include ifmob {
			width: 100%;
			margin: 0 -1rem;
			position: fixed;
			width: 100%;
			top: 0;
			background: #245;
			z-index: 1;

			.menu li a {
				color: #FFF;
			}
		}
	}
}

main {
	@include flexBox;
}

aside {
	flex-basis: $leftWidth;
	width: $leftWidth;
	flex-shrink: 0;
	border-right: 1px dotted #ddd;
	.panel {
		margin-right: 20px;
		border-bottom: 1px dotted #ddd;
	}
	.categories {
		li {
			margin: 2px 0 3px 0;
			&.active {
				a {
					cursor: not-allowed;
					color: $textColor-2;
				}
			}
		}
	}
	.recently {
		li {
			margin: 2px 0 6px 0;
		}
	}
	.news {
		li {
			margin: 2px 0 6px 0;
		}
		h4,
		.h4 {
			margin: 0;
			font-weight: normal;
		}
		p {
			margin: 0;
			padding: 0;
			color: $textColor-2;
		}
	}
}

article {
	width: 100%;
	flex-grow: 1;
}

footer {
	margin-top: 30px;
	text-align: center;
}

// Listing of documents
.documents {
	margin-top: 4rem;
	padding-left: 0 !important;
	list-style: none !important;
	&__item {
		border-bottom: 1px solid #efefef;
	}
}

.document {
	margin: 0.5rem 0 1rem 0;
	h3,
	.h3 {
		margin: 0;
		font-weight: 400;
	}

	p {
		margin: 0;
		color: $textColor-4;
		time {
			color: lighten($textColor-4, 20);
			font-size: 0.9em;
		}
	}
}

// Post & Page
.article {
	&__title {
		width: 61.8%;
		@include ifmob {
			width: 100%;
		}
		margin: 2rem auto;
		font-size: 1.1rem;
		color: $textColor-2;
		text-align: center;
		font-weight: bold;
	}
	&__subtitle {
		font-size: 13px; // as icon's size is 16px
		color: $textColor-4;
	}
	&__body {
		margin-bottom: 4rem;
		h1,
		.h1,
		.title {
			color: $textColor-2;
		}
		h2,
		h3,
		h4,
		.h2,
		.h3,
		.h4 {
			color: $textColor-1;
			position: relative;
		}
		h2,
		h3,
		.h2,
		.h3 {
			margin: 4rem 0 2rem 0;
		}
		h4,
		.h4 {
			margin: 2rem 0 1rem;
			display: inline-block;
			max-width: 61.8%;
			&:after {
				content: "";
				position: absolute;
				left: -0.1em;
				right: -0.1em;
				bottom: 0;
				height: 0.5em;
				transition: height 200ms cubic-bezier(0, 0.8, 0.13, 1);
				background-color: rgba($themeColor, 0.3);
			}
		}
		p {
			word-break: break-word;
			white-space: pre-wrap;
			line-height: 1.875;
			font-size: 18px;
			@include ifmob() {
				line-height: 1.4;
			}
		}
		a {
			text-decoration: underline;
		}
		&--song {
			text-align: center;
		}
	}
	&__attrs {
		margin-bottom: 1rem;
		&-src {
			color: $textColor-4;
		}
		&-tags {
			color: $textColor-4;
			a {
				margin-right: 0.5rem;
				text-decoration: underline;
				&:hover {
					color: lighten($themeColor, 20);
				}
			}
		}
	}
	hr {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		margin-bottom: calc(1.75rem - 1px);
		background: rgba(0, 0, 0, 0.2);
		border: none;
		height: 1px;
	}
	ol,
	ul {
		padding-left: 1rem;
		list-style-position: outside;
	}
	ul {
		list-style-type: square;
	}
	iframe {
		border-left: 2px solid #efefef;
	}
}

.article__page {
	margin-top: 4rem;
}

// Photo viewer
.photo-modal {
	cursor: zoom-out;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.56);
	&__close {
		position: absolute;
		top: 3px;
		right: -54px;
		font-size: 1rem;
		color: #dfdfdf;
		transform: rotate(45deg);
		display: block;
		width: 145px;
		text-align: center;
		height: 2rem;
		line-height: 2rem;
		background-color: #1a2a3a;
		box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.2);
		&:hover {
			color: #afafaf;
			text-decoration: none;
		}
	}
	&__content {
		@include flexBox(center, center);
		padding: 10px;
		width: 100%;
		height: 100%;
		color: #fff;
		@include boxSizing(border-box);
		img {
			// max-width: 100%;
			// max-height: 100%;
			background: #fff;
			border: 6px solid #fff;
			box-sizing: border-box;
			border-radius: 4px;
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
			transition: all 0.5s ease-in-out;
		}
	}
}

.photo {
	margin: 0 -1rem 1rem -1rem;
	// text-align: center;
	&-wrapper {
		// todo:
		cursor: zoom-in;
	}
	&__entity {
		max-width: 100%;
		// "inline" let img has a space bellow.
		// to remove it.
		display: block;
		margin: 0 auto;
	}
	&__title {
		font-size: 0.9rem;
		color: $textColor-3;
		text-align: center;
		padding: 0 2rem;
	}
}

.hidden-if-mobi {
	@include ifmob() {
		display: none;
	}
}

@import "./zero/ad", "./zero/identities", "./zero/github", "./zero/font",
	"./zero/table", "./zero/comment";
