body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body.drawing {
  cursor: cell;
}

body.erasing {
  cursor: grabbing;
}

#app {
  width: 100%;
  height: 100%;
}

.controls {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.control {
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #333;
  background-color: #ddd;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin: 4px 4px 0 4px;
}
