---
---

<!DOCTYPE html>
<html lang="en_US">

<head>
  {%- feed_meta -%}
  {%- seo -%}
  {%- include head.html noBundleJs="noBundleJs" -%}
  <style>
    body {
      height: auto;
      overflow: initial;
    }

    .article {
      margin: 0;
    }

    .article--cv {
      padding: 1rem 0;
    }

    .cv section {
      margin: 1rem 0 0 0;
    }

    main {
      box-sizing: content-box;
      -webkit-box-sizing: content-box;
      width: 100%;
      padding: 0
    }
  </style>
</head>

<body>
  <div class="page-wrapper">
    <main id="page">
      <article class="article article--cv">
        {{ content }}
      </article>
    </main>
  </div>
</body>

</html>
