---
---

<!DOCTYPE html>
<html lang="en_US">
  <head>
    {%- feed_meta -%}
    <!-- Meta -->
    {%- seo -%}
    <!-- SEO -->
    {% include head.html noBundleJs="noBundleJs" CV="1" %}
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/style.cv.css?{{ site.time }}"
    />
    <!-- <link
      rel="stylesheet"
      type="text/css"
      media="print"
      href="/assets/print-style.css"
    /> -->
  </head>

  <body>
    <div class="mycv">
      <main class="mycv__Main">
        <article>{{ content }}</article>
      </main>
    </div>
  </body>
</html>
