---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {%- feed_meta -%}
    {%- seo -%}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1130957_ud73cr6mby.css"/>
    <link href='//cdn.repository.webfont.com/webfonts/nomal/123390/47031/5cb69933f629d8008495dd8e.css' rel='stylesheet' type='text/css' />
    <script defer src="/assets/script.js?v={{ site.version }}"></script>
  </head>
  <body>
    <div class="page-wrapper">
      <div id="page" class="page">
        <header class="header">
          <div class="header__logo">
            <div class="logo COCOGOOSE">
              <div class="logo__title">
                <img src="/assets/dog.jpg" />
                Singhi, a FEE
              </div>
              <div class="logo__motto">
                {{ site.motto }}
              </div>
            </div>
          </div>
          <div class="header__menu">
            {%- include menu.html -%}
            {%- include ad.html -%}
          </div>
        </header>
        <main class="main">
          <article class="article">
            {{ content }}
          </article>
        </main>
        <footer class="footer">
          <div class="footer__items">
            <div class="footer__copy">
              辽ICP备17002964号 &copy; Singhi John / 2018
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
