---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {%- feed_meta -%}
    {%- seo -%}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1130957_5mnvcz301jp.css"/>
    <script defer src="/assets/bundle.js?v={{ site.version }}"></script>
  </head>
  <body>
    <div class="page-wrapper">
      <div id="page" class="page">
        <header class="header">
          <div class="header__logo">
            <div class="logo COCOGOOSE">
              <div class="logo__title">
                <img src="/assets/logo.jpg" />
                星海&bull;一个前端
              </div>
              <div class="logo__motto">
                分享朴素、实用的前端技术
                <br>
                <small>
                  Simple & Practical
                </small>
              </div>
            </div>
          </div>
          <div class="header__menu">
            {%- include menu.html -%}
            {%- include ad.html -%}
          </div>
        </header>
        <main class="main">
          <article class="article">
            {{ content }}
          </article>
        </main>
        <footer class="footer">
          <div class="footer__items">
            <div class="footer__copy">
              <a target="_blank" href="http://www.beian.miit.gov.cn">辽ICP备17002964号-1</a>
              &copy; Singhi's BLOG / 2018 - 2023
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
