---
layout: with-nonav
---

<div class="article__title{% if page.english %} english{% endif %}">
  <div class="author" style="text-align: center; margin-bottom: 3rem">
    <a href="/">
      <img
        src="/assets/dog.jpg"
        style="
          filter: contrast(2);
          width: 40px;
          border: 2px solid #7ea542;
          border-radius: 50%;
        "
      />
    </a>
    <div style="color: #888; line-height: 1; font-size: 1.2rem">
      <b>{</b>singhi<b>}</b>
    </div>
  </div>

  <div>{{ page.title }}</div>
  <div style="font-size: 0.5em; margin-top: 1.1em">
    <a href="/">
      <img
        style="width: 24px; vertical-align: middle"
        src="/assets/icons/return.svg"
      />
    </a>
    <i style="font-size: 0.8em; color: #ddd">&bull;</i>
    <img
      style="width: 24px; vertical-align: middle"
      src="/assets/icons/{{page.category}}.svg"
    />
    {% if page.src %}<i style="font-size: 0.8em; color: #ddd">&bull;</i>
    <a
      target="_blank"
      href="{{page.src}}"
      title="Source Aritcle Or Referrences"
    >
      <img
        style="width: 24px; vertical-align: middle"
        src="/assets/icons/link.svg"
      />
    </a>
    {% endif %}
    <i style="font-size: 0.8em; color: #ddd">&bull;</i>
    <img
      style="width: 24px; vertical-align: middle"
      src="/assets/icons/calendar.svg"
    />
    <time style="color: #888; vertical-align: middle"
      >{{ page.date | date: "%B %d, %Y" }}</time
    >
  </div>
</div>

<div
  class="article__body{% if page.song %} song{% endif %} {% if page.english %} english{% endif %}"
>
  {{ content }}
</div>

<div>
  <a
    href="#"
    title="Wechat connect"
    onclick="showPhotoModal('https://zxh1989.oss-cn-qingdao.aliyuncs.com/20181105/151627_71615.jpg'); return false;"
    target="_blank"
    ><img style="width: 32px; height: 32px" src="/assets/icons/wechat.svg"
  /></a>

  {% if page.tweet %}
  <a
    title="X view"
    href="https://x.com/zhangxinghai64/status/{{ page.tweet }}"
    target="_blank"
    ><img style="width: 32px; height: 32px" src="/assets/icons/t.svg"
  /></a>
  {% else %}
  <a
    title="X share"
    href="https://x.com/intent/tweet?url=https%3A//www.zhangxinghai.cn{{ page.url }}"
    target="_blank"
    ><img style="width: 32px; height: 32px" src="/assets/icons/t.svg"
  /></a>
  {% endif %}
  <a
    title="comment"
    href="http://stories.longloneliness.com/query-html.php?end=singhi&lang={{ page.english }}&post={{ page.url }}"
    target="_blank"
  >
    <img
      style="width: 25px; height: 25px; padding: 3px"
      src="/assets/icons/comment.svg"
    />
  </a>
</div>

<div class="end-line-v2"></div>
