<!DOCTYPE html>
<html lang="en_US">

<head>
  <title>{{ page.title }}</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      height: 100vh;
      overflow: hidden;
      font-family: Arial, sans-serif;
      line-height: 1.6;
      color: #333;
      background-color: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .Window {
      width: 80%;
      aspect-ratio: 16 / 9;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: #333;
    }
  </style>
  <script src="/assets/courses-vid-engine.js?t={{site.time}}"></script>
</head>

<body>
  <div class="Window">
    {{content}}
  </div>
  <script src="{{ page.appUrl }}"></script>
</body>

</html>