---
---

<!DOCTYPE html>
<html lang="en_US">

<head>
  {%- feed_meta -%}
  {%- seo -%}
  {%- include head.html -%}
  <script>
    function displayMenu() {
      const asideEle = document.querySelector('aside');
      if (!asideEle) return;
      if (asideEle.__visible) {
        asideEle.style.left = `-${asideEle.clientWidth}px`;
        asideEle.__visible = false
      } else {
        asideEle.style.left = '0px';
        asideEle.__visible = true;
      }
    }
  </script>
</head>

<body>
  <div class="page-wrapper">
    <aside>
      <div class="logo">
        <div class="logo__title">
          <img style="border-radius: 50%;" src="/assets/dog.jpg"/>
          星海&bull;一个前端
        </div>
        <div class="logo__motto">
          分享朴素、实用的前端技术
          <br>
          <small>
            Simple & Practical
          </small>
        </div>
      </div>
      <nav>
        {%- include menu.html -%}
      </nav>
      <div class="copyright">
        <a target="_blank" href="http://www.beian.miit.gov.cn">辽ICP备17002964号-1</a>
        <br />
        &copy; Singhi's BLOG / 2018 - 2021
      </div>
    </aside>
    <main id="page">
      <article class="article">
        {{ content }}
      </article>
    </main>
  </div>
</body>

</html>
