---
---

<!DOCTYPE html>
<html lang="en_US">

<head>
  <meta charset="utf8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  {%- feed_meta -%}
  {%- seo -%}
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
  <link rel="stylesheet" href="/assets/new-ui.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1130957_6vk25nhnk3a.css" />
  <script defer src="/assets/bundle.js?v={{ site.version }}"></script>
</head>

<body>
  <div class="page-wrapper">
    <main id="page">
      {%- include ad.html -%}
      <article class="article">
        {{ content }}
      </article>
    </main>
  </div>
</body>

</html>
